input {
 pipeline { address => jira_issues }
}

filter {
 
 mutate {
   rename => {
    "[issues][id]" => "id"
    "[issues][key]" => "key"
    "[issues][fields][project][key]" => "project"
    "[issues]" => "issue"
   }

   lowercase => ["project"]
 }
}

output {
 elasticsearch{
        index => "jira_issues_%{[project]}"
        hosts => ["elasticsearch:9200"]
        document_id => "%{[key]}"
        doc_as_upsert => true
        action => update
    }
}