input {
 pipeline { address => jira_changes }
}

filter {
 
 split {
  field => "[issues][changelog][histories]"
 }
 
 split {
  field => "[issues][changelog][histories][items]"
}

 mutate {
  rename => {
   "[issues][key]" => "key"
   "[issues][changelog][histories][id]" => "change_id"
   "[issues][changelog][histories][author]" => "author"
   "[issues][changelog][histories][created]" => "created"
   "[issues][changelog][histories][items][from]" => "from"
   "[issues][changelog][histories][items][fromString]" => "fromString"
   "[issues][changelog][histories][items][to]" => "to"
   "[issues][changelog][histories][items][toString]" => "toString"
   "[issues][changelog][histories][items][field]" => "field"
   "[issues][changelog][histories][items][fieldtype]" => "fieldtype"
  }
  remove_field => [ "[issues]" ]
 }
}

output {
 file {
     path => "jira_changelog.json"
 }
}
