input {
 pipeline { address => jira_transitions }
}

filter {

 split {
    field => "[issues][transitions]"
 }

 mutate {

  rename => {
   "[issues][fields][project][key]" => "project"
   "[issues][key]" => "key"
   "[issues][transitions]" => "transition"
  }

  remove_field => [ "[issues]" ]

  lowercase => ["project"]
 }
}

output {
    #file { path => "/Users/i52884/ELK/AutomationDashboard/logstash/config/jira_changelog.json" }
    elasticsearch{
        index => "jira_transitions_%{[project]}"
        hosts => ["elasticsearch"]
        document_id => "%{[key]}_%{[transition][id]}"
        action => "create"
    }
}
