input {
      exec {
      	   command => "curl -u '${JIRA_USER}:${JIRA_PWD}' https://epm.verisk.com/jira/rest/api/2/field"
	   interval => 3600
	   codec => "json"
      }
}

output {
         elasticsearch {
                hosts => ["elasticsearch:9200"]
                index => "jira-fields-%{YYYY-MM-dd}"
                }
}