input {
    jira_poller {
        baseurl => {
            method => get
            user => "${JIRA_USER}"
            password => "${JIRA_PWD}"
            url => "https://epm.verisk.com/jira"
            headers => {
                Accept => "application/json"
            }
        }
        projects => ["XMA", "XMI", "XMW", "XO"]
        schedule => { every => "60s"}
        codec => "json"
    }
}

filter {

 split {
  field => "[issues]"
 }
 
 mutate {
    remove_field => [ "[expand]", "[startAt]", "[total]", "[maxResults]"]
 }

}

output {
 pipeline { send_to => [jira_issues, jira_changes] }
}