input {
 pipeline { address => jira_issues }
}

filter {
 
 mutate {
   rename => {
    "[issues][id]" => "id"
    "[issues][key]" => "key"
    "[issues][fields]" => "fields"
    "[issues][fields][project][key]" => "project"
   }
   remove_field => [ "[issues]", "[issues][changelog]", "[issues][expand]"]
 }
}

output {
 file { path => "/usr/share/logstash/issues.json" }
 elasticsearch{
        index => "jira_issues_%{[project]}"
        hosts => ["elasticsearch:9200"]
        document_id => "%{[key]}"
        doc_as_upsert => true
        action => update
    }
}