input {
      http_poller {
        urls => {
            status => {
                method => get
                user => "${JIRA_USER}"
                password => "${JIRA_PWD}"
                url => "https://epm.verisk.com/jira/rest/api/2/field"
                headers => {
                    Accept => "application/json"
                }
            }
        }
        schedule => { every => "60s"}
        codec => "json"
      }
}
filter {


}
output {
    elasticsearch{
               index => "jira_fields"
               hosts => ["localhost"]
               document_id => "%{[id]}"
               action => "create"
           }
}