input {
 pipeline { address => jira_issues }
}

filter {
 
 mutate {
   rename => {
    "[issues][id]" => "id"
    "[issues][key]" => "key"
    "[issues][fields]" => "fields"
   }
   remove_field => [ "[issues][changelog]", "[issues][expand]"]
 }
}

output {
 file {
     path => "jira_issues.json"
 }
}